body {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 150%;
  letter-spacing: 3px;
  font-weight: lighter;
  color: white;
  background-color: #1a1a1a;
}

h1, h2 {
  text-align: left;
  margin: 10px;
  font-weight: bold;
  color: #0b486b;  /*brown #663300*/
}

header {
  display: inline;
 /* margin-left: 3%;*/
  /*padding: 2px;*/
}

header img {
  border: 1px solid red;
  height: 30px;
  width: 25px;
  padding-left: 0px;
  padding-right: 0px;
}

.center {
  width: 45%;
}

p {
  text-align: center;
  padding: 3px;
  margin: 0px;
}

footer {
  display: inline;
  font-size: 20%;
/*  margin: 50px;
  text-align: center;*/
}

img {  
  width: 80%;
  border-radius: 15px;
  margin: 10px 8%;
}

footer img {
  display: inline;
  margin-left: 40%;
  padding-left: 3px;
  height: 20px;
  width: 20px;  
}

nav {
  clear: both;
  display: inline;
  margin: 0px;
  padding: 0px;
  font-size: 30%;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  padding: 2px;
}

a :hover {
  text-decoration: underline;  
}

a :visited {
  color: white;
}
/*div {
  background-color: ;
 
}*/

.banner {
   background-image: url("../images/banner-image-11.jpg"); 
   height: 400px;
}

.cursive {
  font-family: cursive;
  font-size: 150%;
}

.button{
  height: 50px;
  font-size: 90%;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: black;
  color: white;
  border-radius: 8px;
  text-align: center;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.soo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 30%;
}

table {
  width: 75%;
  margin: 50px;
 /* position: relative;
  top: -10em;
  margin-top: 0px;*/
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid #0b486b;
}

th {
  height: 50px;
}

td {
  text-align: center;
  height: 20px;
}

#grad1 {
    border: 20px;
    height: 200px;
    background: -webkit-linear-gradient(left, red, pink, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, pink, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, pink, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, pink, orange); /* Standard syntax (must be last) */
}